.keyword {
  color: blue;
  font-weight: bold;
}

.sql-text {
  font-size: Arial;
}

.editable-div {
  /* Styles for your editable div */
  border: 1px solid #ddd;
  min-height: 100px;
  padding: 8px;
}
