.keyword {
    color:  #008f4b; 
    font-weight: bold;
}
.quote{
    color: #70d44b; 
    font-weight: bold;
}
.number {
    color: #ffc600; 
}


.editable-div {
    /* Styles for your editable div */
    border: 1px solid #ddd;
    min-height: 100px;
    padding: 8px;
    font-family: 'monospace';
}