.keyword {
    color: blue;
    font-weight: bold;
}
.quote{
    color: yellow;
    font-weight: bold;
}
.number {
    color: red; /* Example color for numbers */
}


.editable-div {
    /* Styles for your editable div */
    border: 1px solid #ddd;
    min-height: 100px;
    padding: 8px;
    font-family: 'monospace';
}